{{- $machine := promptChoiceOnce . "machine" "Machine profile" (list "desktop" "laptop") -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    machine = {{ $machine | quote }}
    laptop = {{ eq $machine "laptop" }}
